html {
	font-family: "Comic Sans MS";
}
body{
	background: #FFEDE1;
	color:#0E1C36;
}
p{
	position: relative;
}
.comments > p {
	padding: 0;
	margin: 0;
}
.comments{
	background: #F9FBF2;
	position: absolute;
	right:-100%;
	top: 0;
	width: 90%;
	height: 100%;
	border-top: 1px solid #D7F9FF;
	border-left: 1px solid #D7F9FF;
}
.comments > p::before{
	content:'💬'
}

.comments > h1 {
	display: block;
	margin: 0;
	margin-top: -30px;

}

.dashboard-header {
	color: coral;
}

.articles {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.articles__article {
	flex-basis: 100%;
	padding: 20px 0;
}

.articles__heading, .articles__number {
	display: inline-block;
}

.articles__heading {
	width: 92%;
	font-size: x-large;
	padding: 0;
	margin: 0;
}

.articles__link {
	text-decoration: none;
	color: maroon;
}

.articles__number {
	width: 5%;
	font-size: x-large;
	padding: 0;
	margin: 0;
}

.articles__number::after{
	content:' 💬'
}

img {
	width: 100%;
	height: auto;
}