@import models.Feedback
@import services.CapiQueryService.ArticleContent

@(article: ArticleContent, feedback: List[Either[com.gu.scanamo.error.DynamoReadError,Feedback]])

@styles = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
}

@scripts = {
	<script type="text/javascript" href="@routes.Assets.at("stylesheets/main.js")"></script>
}

@main(title = "Index", styles, scripts) {

	<h1>@article.headline</h1>

	<article>@Html(article.body)</article>

	@for(result <- feedback) {
		@{result match {
			case Right(success) => success.message
			case _ => "Uh oh"
		}}
	}
	
}
